{% extends "base.html" %} {% block title %}Exercise{% endblock %}

{% block content %}
<div align="center">
    <h1>Workout of the Day</h1>
    <p>Daily exercise has been shown to improve your brain health, help manage weight, reduce the risk of disease, strengthen bones and muscles, and improve your ability to do everyday activities (CDC.gov)</p>
    <p>Below is your individual workout prescribed by your trainer. Let's get after it!</p>
    <table class="table">
        <thead>
            <th>Exercise</th>
            <th>Sets</th>
            <th>Reps</th>
        </thead>
        <tbody>
            <tr>
                <td>Deadlift</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Overhead Press</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Pull Ups</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Bicep Curl</td>
                <td>3</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Tricep Pushdown</td>
                <td>3</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Lateral Raises</td>
                <td>3</td>
                <td>12</td>
            </tr>
            <tr>
                <td colspan="3">Run - 15 minutes</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}