{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<div align="center">
    <h1>{{ user.first_name }}'s Dashboard</h1>
    <p>Check out your workout for today, view your nutrition plan, or update your health metrics</p>
    <div class="btn-group">
        <a href="/exercise">
            <button class="btn btn-light">Exercise</button>
        </a>
        <a href="/nutrition">
            <button class="btn btn-light">Nutrition</button>
        </a>
        <a href="/health_snapshot">
            <button class="btn btn-light">Health Snapshot</button>
        </a>
    </div>
    <div class="quote">
        <h3>{{ quote }}</h3>
    </div>

    <div id="weight-graph"></div>
        <div style="height: 50vh; width: 50%;">
            <canvas id="myChart"></canvas>
        </div>
    
        <script>
            const labels = {{ dates | tojson}};
    
            const data = {
                labels: labels,
                datasets: [{
                    label: 'Weight',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: {{ weights | tojson}},
                }]
            };
    
            const config = {
                type: 'line',
                data: data,
                options: { maintainAspectRatio: false }
            };
    
            const myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
    
        </script>
    </div>
</div>
{% endblock %}