{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<div align="center">
    <h1>{{ user.first_name }}'s Dashboard</h1>
    <p>Check out your workout for today, view your nutrition plan, or update your health metrics</p>
    <div class="btn-group">
        <a href="/exercise">
            <button class="btn btn-light">Exercise</button>
        </a>
        <a href="/nutrition">
            <button class="btn btn-light">Nutrition</button>
        </a>
        <a href="/health_snapshot">
            <button class="btn btn-light">Health Snapshot</button>
        </a>
    </div>
    <div class="quote">
        <h3>{{ quote }}</h3>
    </div>

    <div id="graphs"></div>
        <div style="height: 50vh; width: 50%;">
            <canvas id="heightChart"></canvas>
        </div>

        <div style="height: 50vh; width: 50%;">
            <canvas id="weightChart"></canvas>
        </div>

        <div style="height: 50vh; width: 50%;">
            <canvas id="bpChart"></canvas>
        </div>

        <div style="height: 50vh; width: 50%;">
            <canvas id="waistChart"></canvas>
        </div>

        <div style="height: 50vh; width: 50%;">
            <canvas id="bfChart"></canvas>
        </div>
    
        <script>
            const heightLabels = {{ heights_x | tojson}};
    
            const heightData = {
                labels: heightLabels,
                datasets: [{
                    label: 'Height (in)',
                    backgroundColor: 'rgb(144,238,144)',
                    borderColor: 'rgb(144,238,144)',
                    data: {{ heights | tojson}},
                }]
            };

            const heightConfig = {
                type: 'line',
                data: heightData,
                options: { maintainAspectRatio: false }
            };

            const heightChart = new Chart(
                document.getElementById('heightChart'),
                heightConfig
            );

            const weightLabels = {{ weights_x | tojson}};
    
            const weightData = {
                labels: weightLabels,
                datasets: [{
                    label: 'Weight (lbs)',
                    backgroundColor: 'rgb(176,224,230)',
                    borderColor: 'rgb(176,224,230)',
                    data: {{ weights | tojson}},
                }]
            };
    
            const weightConfig = {
                type: 'line',
                data: weightData,
                options: { maintainAspectRatio: false }
            };
    
            const weightChart = new Chart(
                document.getElementById('weightChart'),
                weightConfig
            );

            const bpLabels = {{ bp_x | tojson}};

            const bpData = {
                labels: bpLabels,
                datasets: [{
                    label: 'Blood Pressure (mmHg)',
                    backgroundColor: 'rgb(250,90,114)',
                    borderColor: 'rgb(250,90,114)',
                    data: {{ bp | tojson}},
                }]
            };

            const bpConfig = {
                type: 'line',
                data: bpData,
                options: { maintainAspectRatio: false }
            };

            const bpChart = new Chart(
                document.getElementById('bpChart'),
                bpConfig
            );

            const waistLabels = {{ waists_x | tojson}};
    
            const waistData = {
                labels: waistLabels,
                datasets: [{
                    label: 'Waist Circumference (in)',
                    backgroundColor: 'rgb(255,127,80)',
                    borderColor: 'rgb(255,127,80)',
                    data: {{ waists | tojson}},
                }]
            };

            const waistConfig = {
                type: 'line',
                data: waistData,
                options: { maintainAspectRatio: false }
            };

            const waistChart = new Chart(
                document.getElementById('waistChart'),
                waistConfig
            );

            const bfLabels = {{ bf_percents_x | tojson}};
    
            const bfData = {
                labels: bfLabels,
                datasets: [{
                    label: 'Body Fat (%)',
                    backgroundColor: 'rgb(218,112,214)',
                    borderColor: 'rgb(218,112,214)',
                    data: {{ bf_percents | tojson}},
                }]
            };

            const bfConfig = {
                type: 'line',
                data: bfData,
                options: { maintainAspectRatio: false }
            };

            const bfChart = new Chart(
                document.getElementById('bfChart'),
                bfConfig
            );
    
        </script>
    </div>
</div>
{% endblock %}